body {
    background-color: gray;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: 8px;
    display: block;
    width: 100%;
    max-width: 1024px;
}

header {
    padding: 1.875em 0;
}

h1, h2, h4 {
    margin: 0;
}

h3 {
    color: darkred;
}

article {
    margin: 1.875em 0;
	padding: 0.5em;
	text-align: center;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 0.75em;
	font-size: 0.75em;
}

header, main, footer {
    background-color: black;
}

#mainHeading {
    color: red;
    text-align: center;
}

.funParagraph {
    color: green;
    display: block;
    margin: 0;
}

footer {
    text-align: center;
    padding: 0.5em;
}